<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HTTP Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HTTP Request</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" (click)="getPosts()">HTTP request</ion-button>

  <table *ngIf="posts.length > 0" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts.slice(0, 10)">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>

  <ion-button *ngIf="posts.length > 0" expand="full" (click)="deleteRow()">Hapus 1 kolom data</ion-button>
  <ion-button *ngIf="posts.length > 0" expand="full" (click)="deleteCellContent()">Hapus 1 kotak data</ion-button>
</ion-content>